*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5DD36;
}
.list{
  height: 100vh;
  width: 50%;
  background-color: #fffcf8;
  background-position:center;
  background-size: auto;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
}
h1{
    font-family: rift,sans-serif;
    margin-left: 5vh;
    color: #4287F5;
}
h3
{
  font-family: rift,sans-serif;
  margin-left: 10vh;
  text-align:left;
  margin-right: 10vh;
}
